## get rid of command not found ##
alias cd..='cd ..'

## a quick way to get out of current directory ##
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

## Colorize the grep command output for ease of use (good for log files)##
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

## Create parent directories on demand
alias mkdir='mkdir -pv'

alias ports='netstat -tulanp'

# distro specific  - Debian / Ubuntu and friends #
# install with apt-get
alias apt-get="sudo apt-get"
alias updatey="sudo apt-get --yes"

# update on one command
alias update='sudo apt-get update && sudo apt-get upgrade'

# dbconf.py oars

## usc-mat
### usc-mat [my]
alias my-usc-mat='dbconf.py -i -s -R us-west-2 -e alin -a oars -d usc-mat'
### usc-mat [stg]
alias stg-usc-mat='dbconf.py -i -s -R us-west-2 -e stg -a oars -d usc-mat'
### usc-mat [sb01]
alias sb-usc-mat='dbconf.py -i -s -R us-west-2 -e sb01 -a oars -d usc-mat'

## gwu-mph
### gwu-mph [my]
alias my-gwu-mph='dbconf.py -i -s -R us-west-2 -e alin -a oars -d gwu-mph'
### gwu-mph [stg]
alias stg-gwu-mph='dbconf.py -i -s -R us-west-2 -e stg -a oars -d gwu-mph'
### gwu-mph [sb01]
alias sb-gwu-mph='dbconf.py -i -s -R us-west-2 -e sb01 -a oars -d gwu-mph'

# activate virtual env
alias ve='. env/bin/activate'

